@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* ****************************
    Common Buttons
    **************************** */
    .primary-btn {
        @apply bg-[#4E31AA] border-[#4E31AA] text-[#FFFFFF] text-[14px] font-semibold rounded-[4px] hover:shadow-none;
      }
      .primary-btn-cancel {
        @apply border-[#EF2F88] text-[#EF2F88] text-[14px] font-semibold rounded-[4px] hover:shadow-none bg-transparent;
      }
      .seconday-btn {
        @apply border-[#727272] text-[#727272] text-[14px]  rounded-[4px] hover:shadow-none bg-transparent;
      }
      .ternary-btn {
        @apply border-[#4E31AA] text-[#4E31AA] text-[14px]  rounded-[4px] hover:shadow-none bg-transparent;
      }
    


    /* ****************************
    website fonts
    **************************** */
   
    @font-face {
      font-family: "cairo-regular";
      src: url(../assets/fonts/Cairo-Regular.ttf)  format('truetype');
    }
   
  }

  body{
  }

  .w-492{
    width: 492px;
  }

  .bg-blur{
    background: #F1F2F499;

;
  }

  .w-1320{
    width: 1320px;
  }

  .w-312{
    width: 312px;
  }

  .w-668{
    width: 668px;
  }

  .w-668 input{
    width: 100%;
  }

  .box-sighle{
    border: 2px solid #E7F0FA;
padding: 32px;
gap: 24px;
border-radius: 12px;
opacity: 0px;

  }

  .border-blur{
    border: 1px solid #EDEFF5;
    background: #FFFFFF;

  }

  input{
    background: white;
  }


  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt */
    z-index: 999; /* Đảm bảo nó nằm trên cùng */
}